<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
      <p>
        {{ message }}
      </p>
      <p>
        {{ date }}
      </p>

      <button v-on:click="changeMessage()">
        Click here!
      </button>

      <input type="text" v-model="message">

      <br>
      <br>

      <button v-on:click="toggleInfo()">Toggle info</button>
      <div v-if="showInfo">Here is some additional information</div>

      {{bagels}}

      <div v-for="bagel in bagels">
        <p>here is a ...{{ bagel }}</p>
      </div>

      <br>

      Add a new Bagel<input type="text" v-model="newBagel">
      <button v-on:click="addBagel()">Add a new bagel</button>


  </div>

  <script src="index.js"></script>
</body>
</html>
